a, p, div {
  font-family: "Century Gothic", Arial, sans-serif;
}

img {
  display: block;
  margin: auto;
  width: fit-content;
  padding: 0 10px;
}

.grid-container {
  max-width: 50%;
  border: solid 4px;
  border-color: #11385a;
  border-radius: 15px;
  align-items: center;
  margin: 1.5em 5em !important;
}

span {
  background:white;
  padding: 0 2px 0 1px; 
  margin-left: 14px; 
}

h1.background{
  margin-top: -25px;
  margin-left: 10px;
  margin-bottom: 0px;
  color: #ed7a21;
}
span {
  color: #oe477e
}

.question {
  font-size: 24px;
  text-align: center;
  border-color: #154671;
  padding: 5px;
  margin: 0;
  border-bottom: solid 1px; 
}

.answer {
  text-align: center;
  font-size: 16px;
  padding: 10px;
}
