a, p, div {
  font-family: "Century Gothic", Arial, sans-serif;
}

img {
  display: block;
  margin: auto;
  width: fit-content;
  padding: 0 10px;
}

.grid-container {
  max-width: 500px;
  border: solid 5px;
  border-color: #154671;
  border-radius: 15px;
  align-items: center;
}

.side {
  border-right: solid 3px;
  border-color: #154671;
}

.question {
  font-size: 24px;
  text-align: center;
  border-color: #154671;
  padding: 10px 0 0;
}

.answer {
  text-align: center;
  font-size: 16px;
  padding: 10px;
}
